@model Workout_Builder.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
@using Workout_Builder.ViewModels

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @if(Model.WorkoutTemplates != null)
    {
        foreach(var workout in Model.WorkoutTemplates)
        {
            <h2 id="h2_@workout.Name">@workout.Name</h2>
            <br />
            <br />
        }
    }
</div>



<a id="newWorkoutButton" asp-action="NewWorkout" class="btn btn-danger col-sm-4">New Workout</a>