@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
@using Workout_Builder.ViewModels


@await Html.PartialAsync("_WorkoutList", Model.WorkoutTemplates)

<a id="newWorkoutButton" asp-action="NewWorkout" class="btn btn-success col-sm-4">New Workout</a>