@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
@using Workout_Builder.ViewModels

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@await Html.PartialAsync("_WorkoutList", Model.WorkoutTemplates)

<a id="newWorkoutButton" asp-action="NewWorkout" class="btn btn-success col-sm-4">New Workout</a>