@model Workout_Builder.ViewModels.NewWorkoutVM

@{
    ViewData["Title"] = "New Workout";
}

<h2>New Workout</h2>

<!-- load partial form with exercise info -->
<partial name="_WorkoutEditor" />

@section Scripts {

    <!-- load partial that contains scripts for the exercise form -->
    <partial name="_WorkoutEditorScripts" />
}