@model List<Workout>

<div>
    <h3>Workout Templates</h3>
    <div class="WorkoutTemplates">
        @if (Model != null)
        {
            foreach (var workout in Model)
            {
                <h4 class="WorkoutName">@workout.Name</h4>
                <br />
            }
        }
    </div>
</div>