@model List<Workout>

<div>
    <h2>Workout Templates</h2>
    <div class="WorkoutTemplates">
        @if (Model != null)
        {
            foreach (var workout in Model)
            {
                <div class="FlexContainer">
                    <h4 class="WorkoutName">@workout.Name</h4>
                    <a asp-action="EditWorkout" asp-route-id="@workout.Id" class="">View Workout</a>
                    <br />
                </div>
            }
        }
    </div>
</div>